* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  display: flex;
  justify-content: center;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 250px;
  border: 1px solid red;
}
